.topNav {
    min-height: 51px;
    padding: 0 20px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    @media (max-width: 450px) {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-left: 18px;
    }

    a {
        text-decoration: none;
        font-size: 14px;
        line-height: 51px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        border-bottom: 3px solid transparent;

        &:hover {
            cursor: pointer;
            border-bottom: 3px solid #ef5b70;

        }

        &:not(:last-child) {
            margin-right: 46px;
        }
    }
}